body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 80%;
    margin: auto;
}

.container h1{
    text-align: center;
    font-weight: 500;
    margin-bottom: 100px;
}


/* .esercizio{
    width: 100%;
    height: 200px;
} */

.square-container{
    width: 100%;
    background-color: #F5F5F5;
    border: 1px solid lightgrey;
}

.square-container .first-square{
    width: 100px;
    height: 100px;
    margin: 20px;
    border: 1px solid red;
    transition: all 2s;
}

.first-square:hover{
    background-color: red;
}