body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 80%;
    margin: auto;
}

.container h1{
    text-align: center;
    font-weight: 500;
    margin-bottom: 100px;
}

.container p{
    margin: 30px 0px;
}


/* .esercizio{
    width: 100%;
    height: 200px;
} */

.square-container{
    width: 100%;
    background-color: #F5F5F5;
    border: 1px solid lightgrey;
}

/*classse in comune dei quadrati*/
.square-container .square{
    width: 100px;
    height: 100px;
    margin: 20px;
}


/* inizio esercizio 1*/
.square-container .first.square{
    width: 100px;
    height: 100px;
    border: 1px solid red;
    transition: all 2s;
}

.first.square:hover{
    background-color: red;
}


/* inizio esercizio 2*/
.square-container .second.square{
    background-color: red;
    transition: width 2s;
}

.square-container .second.square:active{
    width: calc(100% - 40px);
}


/* inizio esercizio 3*/
.square-container .third.square{
    background-color: red;
    transition: border-radius 0.5s;
}

.square-container .third.square:hover{
    border-radius: 50%;
}

/* inizio esercizio 4*/
.square-container .fourth.square{
    background-color: red;
    transition: opacity 1s;
}

.square-container .fourth.square:hover{
    opacity: 0;
}

/* inizio esercizio 5*/
.square-container .fifth.square{
    width: 50px;
    height: 50px;
    margin: 40px;
    background-color: red;
    transition: all 1s;
}

.square-container .fifth.square:hover{
    transform: scale(2.5,2.5);
}

.square-container .fifth.square:active{
    transform: scale(0.5, 0.5);
}


/* inizio esercizio 6*/
/* classe in comune tra i contenitori delle immagini*/
.image-container{
    background-color: #F5F5F5;
    border: 1px solid lightgrey;
}

.image-container img{
    margin: 20px;
    max-width: 50%;
    max-height: calc(100% - 40px);
}

.image-container .sixth:hover{
    filter: grayscale(1);
}

/* inizio esercizio 7*/
.image-container .seventh{
    transition: all 2s;
}

.image-container .seventh:hover{
    filter: sepia(0.7) grayscale(0.3);
}

/* inizio esercizio 8*/
.image-container .eighth{
    transition: all 2s;
}

.image-container .eighth:hover{
    filter: sepia(0.7) grayscale(0.3);
    border-radius: 20px;
}

/* inizio esercizio 9*/
.image-container .ninth{
    transform: scale(0.7, 0.7);
    transition: all 2s;
}

.image-container .ninth:hover{
    filter: sepia(0.7) grayscale(0.3);
    border-radius: 30px;
    transform: scale(1, 1);
}


/* inizio esercizio 10*/

.icon-container{
    background-color: #F5F5F5;
    border: 1px solid lightgrey;
}

.icon-container i{
    margin: 20px;
    font-size: 60px;
    color: #333333;
}

.icon-container i.tenth{
    animation: loading 1s linear 0s infinite;
}

@keyframes loading{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}

/* inizio sercizio 11*/
.icon-container i.eleventh:hover{
    animation: acceleration 2s linear;
}

@keyframes acceleration{
    0%{
        transform: rotate(0deg);
    }

    75%{
        transform: rotate(280deg);
    }

    85%{ /* ruotazione in senso antiorario accelerata*/
        transform: rotate(0deg);
    }
}


/* inizio esercizio 12*/
.button-container{
    background-color: #F5F5F5;
    border: 1px solid lightgrey;
}

.button-container .button{
    margin: 20px;
    width: 150px;
    padding: 20px;
    height: calc(100% - 40px);
    border: 3px solid #1b3c59;
    text-align: center;
    position: relative;
    
}

.button-container .button a{
    text-decoration: none;
    color: #1b3c59;
    font-size: 23px;
}

.button .transparent-block{
    width: 50px;
    height: 10px;
    background-color: #F5F5F5;
    display: inline-block;
}

.button .up.transparent-block{
    position: absolute;
    top: -5px;
    left: 15px;
}

.button .down.transparent-block{
    position: absolute;
    bottom: -5px;
    right: 30px;
}

@keyframes up-move{
    0%{
        left: 15px;
    }

    50%{
        left: calc(100% - 50px) ;
    }

    100%{
        left: 15px;
    }
}

.button-container .button:hover .up{
    animation: up-move 2s linear;
}
.button-container .button:hover .down{
    animation: down-move 2s linear;
}

@keyframes down-move{
    0%{
        right: 30px;
    }

    50%{
        right: calc(100% - 50px) ;
    }

    100%{
        right: 30px;
    }
}

